.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #1e293b;
  color: white;
  padding: 20px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.navlink {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #3b82f6; /* subtle blue hover */
}
